##### Note: Running the whole notebook takes just over 3 minutes.

## Setup

In [1]:
# import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
from api_keys import gkey
import re
from pandas import *
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# load in csv files
county_crime_csv = "input/2010 CA County Crime Data.csv"
county_officer_csv = "input/2010 CA County LEO Data.csv"
city_crime_csv = "input/2010 CA City Crime Data.csv"
city_officer_csv = "input/2010 CA City LEO Data.csv"
population_data_csv = "input/CA Census Population Data.csv"
county_area_csv = "input/County Land Area.csv"

In [3]:
# read the csv files to data frames
county_crime_df = pd.read_csv(county_crime_csv)
county_officers_df = pd.read_csv(county_officer_csv)
city_crime_df = pd.read_csv(city_crime_csv)
city_officers_df = pd.read_csv(city_officer_csv)
population_df = pd.read_csv(population_data_csv)
counties_df = pd.read_csv(county_area_csv)

## Clean the County Crime Data

In [4]:
# drop extraneuos rows before the header row
county_crime_df = county_crime_df.drop([0,1,2,3]).reset_index(drop=True)

# define the headers, remove their row, and insert the headers as column names
headers = county_crime_df.iloc[0]
county_crime_df = county_crime_df[1:]
county_crime_df.columns = headers
county_crime_df = county_crime_df.reset_index(drop=True)

In [5]:
# remove '\n' from column names and rename the 'county type' column header
county_crime_df.columns = county_crime_df.columns.str.strip().str.replace('\n',' ').str.replace('  ',' ')
county_crime_df.rename(columns={'Metropolitan/Nonmetropolitan':'County Type'}, inplace=True)

In [6]:
# fill the county type down to replace the NaN values and remove 'Counties' from the end of the county type
county_crime_df['County Type'].fillna(method='ffill', inplace=True)
county_crime_df['County Type'] = county_crime_df['County Type'].str.split().str.get(0)

In [7]:
# remove Tulare County (because of incomplete data) and the last row with NaN values from a footnote
county_crime_df = county_crime_df.dropna().reset_index(drop=True)

In [8]:
# moving the county name in front of the county type
county_crime_df.rename(columns={'County':'County old'}, inplace=True)
county_crime_df.insert(0, 'County', county_crime_df['County old'])

# remove the old 'County' column
del county_crime_df['County old']

# removing Arson column as it is not included in property crime totals
del county_crime_df['Arson']

In [9]:
# store list of columns that need to be converted to numeric format
col_list = list(county_crime_df.iloc[:,2:11].columns)

# loop through the columns, remove commas, and change to integers
for item in col_list:
    county_crime_df[item] = county_crime_df[item].str.replace(',', '').astype(int)

In [10]:
# display the county crime data frame
county_crime_df.head()

,County,County Type,Violent crime,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
0,Alameda,Metropolitan,698,8,18,235,437,2212,622,1041,549
1,Butte,Metropolitan,133,4,18,24,87,1296,564,721,11
2,Contra Costa,Metropolitan,449,12,28,119,290,2754,1011,1729,14
3,El Dorado,Metropolitan,256,3,15,34,204,1990,864,1114,12
4,Fresno,Metropolitan,727,10,33,116,568,4442,1466,2230,746

## Clean the City Crime Data & Pull Corresponding Counties from Google Maps API

In [11]:
# drop extraneuos rows before the header row
city_crime_df = city_crime_df.drop([0,1,2]).reset_index(drop=True)

# define the headers, remove their row, and insert the headers as column names
headers = city_crime_df.iloc[0]
city_crime_df = city_crime_df[1:]
city_crime_df.columns = headers
city_crime_df = city_crime_df.reset_index(drop=True)

In [12]:
# clean column headers and delete extraneous columns
city_crime_df.columns = city_crime_df.columns.str.strip().str.replace('\n',' ')
del city_crime_df['Population']
del city_crime_df['Arson']

In [13]:
# drop extra rows that have NaN values
city_crime_df = city_crime_df.dropna().reset_index(drop=True)

In [14]:
# insert column to store county names
city_crime_df.insert(1, 'County', '')

In [15]:
# base url for google maps api calls
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?key='

# loop through data frame, call the api for the city, and pull out the county into the 'County' column
for index, row in city_crime_df.iterrows():
    
    city = row['City']
    
    query_url = base_url + gkey + '&address=' + city + ',California'
    
    response = requests.get(query_url).json()
    
    if((response['results'][0]['address_components'][1]['long_name'].rsplit(' ', 1)[-1]) == 'County'):
        county = response['results'][0]['address_components'][1]['long_name']
    else:
        county = response['results'][0]['address_components'][2]['long_name']
   
    city_crime_df.loc[index, 'County'] = county.rsplit(' ', 1)[0]

In [16]:
# store list of columns that need to be converted to numeric format
col_list = list(city_crime_df.iloc[:,2:11].columns)

# loop through the columns, remove commas, and change to integers
for item in col_list:
    city_crime_df[item] = city_crime_df[item].str.replace(',', '').astype(int)

In [17]:
# group the cities by county and sum the crime counts
grouped_city_crime_df = city_crime_df.groupby(['County']).sum()

In [18]:
# remove Tulare County from the data frame
grouped_city_crime_df = grouped_city_crime_df.drop('Tulare').reset_index()

In [19]:
# display the new data frame of city agency crimes grouped by county
grouped_city_crime_df.head()

,County,Violent crime,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
0,Alameda,9610,124,501,4532,4453,45335,11086,25781,8468
1,Alpine,1,0,1,0,0,72,9,60,3
2,Amador,50,0,3,4,43,326,87,220,19
3,Butte,618,3,71,129,415,4168,1262,2544,362
4,Colusa,26,0,2,3,21,217,59,135,23

## Clean the County Police Officer Data

In [20]:
# drop extraneuos rows before the header row
county_officers_df = county_officers_df.drop([0,1,2]).reset_index(drop=True)

# define the headers, remove their row, and insert the headers as column names
headers = county_officers_df.iloc[0]
county_officers_df = county_officers_df[1:]
county_officers_df.columns = headers
county_officers_df = county_officers_df.reset_index(drop=True)

In [21]:
# clean the column headers and delete extraneous columns
county_officers_df.columns = county_officers_df.columns.str.strip().str.replace('\n',' ')
del county_officers_df['Metropolitan/Nonmetropolitan']
del county_officers_df['Total law enforcement employees']
del county_officers_df['Total civilians']

In [22]:
# remove Tulare County
#county_officers_df = county_officers_df[county_officers_df['County'] != 'Tulare']
county_officers_df = county_officers_df.dropna().reset_index(drop=True)

In [23]:
# change the data type of the officer count to integer
county_officers_df['Total officers'] = county_officers_df['Total officers'].str.replace(',', '').astype(int)

In [24]:
# display the county officers data frame
county_officers_df.head()

0        County  Total officers
0       Alameda             986
1         Butte             101
2  Contra Costa             637
3     El Dorado             173
4        Fresno             693

## Clean the City Police Officer Data & Pull Corresponding Counties from Google Maps API

In [25]:
# drop extraneuos rows before the header row
city_officers_df = city_officers_df.drop([0,1,2]).reset_index(drop=True)

# define the headers, remove their row, and insert the headers as column names
headers = city_officers_df.iloc[0]
city_officers_df = city_officers_df[1:]
city_officers_df.columns = headers
city_officers_df = city_officers_df.reset_index(drop=True)

In [26]:
# clean column headers and delete extraneous columns
city_officers_df.columns = city_officers_df.columns.str.strip().str.replace('\n',' ')
del city_officers_df['Population']
del city_officers_df['Total law enforcement employees']
del city_officers_df['Total civilians']

In [27]:
# drop extra rows that have NaN values
city_officers_df = city_officers_df.dropna().reset_index(drop=True)

city_officers_df.insert(1, 'County', '')

In [28]:
# base url for google maps api calls
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?key='

# loop through data frame, call the api for the city, and pull out the county into the 'County' column

for index, row in city_officers_df.iterrows():
    
    city = row['City']
    
    query_url = base_url + gkey + '&address=' + city + ',California'
    
    response = requests.get(query_url).json()
    
    if((response['results'][0]['address_components'][1]['long_name'].rsplit(' ', 1)[-1]) == 'County'):
        county = response['results'][0]['address_components'][1]['long_name']
    else:
        county = response['results'][0]['address_components'][2]['long_name']
    
    city_officers_df.loc[index, 'County'] = county.rsplit(' ', 1)[0]

In [29]:
# change data type of the officer count to integer
city_officers_df['Total officers'] = city_officers_df['Total officers'].str.replace(',', '').astype(int)

In [30]:
# group the cities by county and sum the officer counts
grouped_city_officers_df = city_officers_df.groupby(['County']).sum().reset_index()

In [31]:
# remove Tulare County 
grouped_city_officers_df = grouped_city_officers_df[grouped_city_officers_df['County'] != 'Tulare']

In [32]:
# display the new data frame of city officers grouped by county
grouped_city_officers_df.head()

0   County  Total officers
0  Alameda            1765
1   Alpine               8
2   Amador              20
3    Butte             159
4   Colusa              19

## Merge Crime Data Frames

In [33]:
# create new data frame that will be used to merge crime data
total_crime_df = county_crime_df

In [34]:
# merge county crime with the grouped city crime
total_crime_df = total_crime_df.merge(grouped_city_crime_df, on='County', how='outer', suffixes=('_county', '_grouped')).fillna(0)

In [35]:
# add Metropolitan label to San Francisco and Solano, which weren't listed in the county crime data
total_crime_df['County Type'] = total_crime_df['County Type'].replace(0, 'Metropolitan')

In [36]:
# loop through columns and sum ones with the same first word and insert into new column
for item in county_crime_df.iloc[:,2:11].columns:
    total = total_crime_df.filter(regex=re.split('\s|_|-',item)[0]).sum(axis=1).astype(int)
    total_crime_df[item.title()] = total

In [37]:
# delete old columns from the merge
for item in total_crime_df.iloc[:,2:20].columns:
    del total_crime_df[item]

In [38]:
total_crime_df.columns = total_crime_df.columns.str.replace('  ',' ')

In [39]:
# display the total crime data frame
total_crime_df.head()

,County,County Type,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft
0,Alameda,Metropolitan,10308,132,519,4767,4890,47547,11708,26822,9017
1,Butte,Metropolitan,751,7,89,153,502,5464,1826,3265,373
2,Contra Costa,Metropolitan,4257,65,187,1525,2480,28491,7546,15494,5451
3,El Dorado,Metropolitan,485,3,34,66,382,2614,1112,1460,42
4,Fresno,Metropolitan,4904,63,181,1358,3302,38442,8982,22680,6780

## Merge Police Officer Data Frames

In [40]:
# create new dataframe for officer data to be merged into
total_officers_df = county_officers_df

In [41]:
# merge county officer data with the grouped city officer data
total_officers_df = total_officers_df.merge(grouped_city_officers_df, on='County', how='outer', suffixes=('_county', '_grouped'))

In [42]:
# replace NaN values with zero and add officer columns to get total
total_officers_df.fillna(0, inplace=True)
total_officers_df['Total Officers'] = (total_officers_df['Total officers_county'] + total_officers_df['Total officers_grouped']).astype(int)

In [43]:
# delete columns we no longer need
del total_officers_df['Total officers_county'] 
del total_officers_df['Total officers_grouped']

In [44]:
# display the total officers data frame
total_officers_df.head()

0        County  Total Officers
0       Alameda            2751
1         Butte             260
2  Contra Costa            1612
3     El Dorado             230
4        Fresno            1793

## Merge Police Officer Data into Crime Data Frame

In [45]:
# merge total crime with total officers
crime_officer_data = total_crime_df.merge(total_officers_df, on='County')

In [46]:
# display the crime and officer data frame
crime_officer_data.head()

,County,County Type,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft,Total Officers
0,Alameda,Metropolitan,10308,132,519,4767,4890,47547,11708,26822,9017,2751
1,Butte,Metropolitan,751,7,89,153,502,5464,1826,3265,373,260
2,Contra Costa,Metropolitan,4257,65,187,1525,2480,28491,7546,15494,5451,1612
3,El Dorado,Metropolitan,485,3,34,66,382,2614,1112,1460,42,230
4,Fresno,Metropolitan,4904,63,181,1358,3302,38442,8982,22680,6780,1793

## Clean County Population Data & Merge into the Crime & Officer Data Frame

In [47]:
# drop extraneuos rows before the header row
population_df = population_df.drop([0,2,3]).reset_index(drop=True)

# define the headers, remove their row, and insert the headers as column names
headers = population_df.iloc[0]
population_df = population_df[1:]
population_df.columns = headers
population_df = population_df.reset_index(drop=True)

In [48]:
# remove '\n' from column headers
population_df.columns = population_df.columns.str.strip().str.replace('\n','')

In [49]:
# extract County Name, Population for 2010, and sumlvl
population_df = population_df[['County','April 1,2010','sumlvl']]

In [50]:
# remove all rows that are not at the county level
population_df = population_df.loc[population_df['sumlvl'] == '050'].reset_index(drop=True)

In [51]:
# remove the sumlvl column and rename the date of the population to 'Population'
del population_df['sumlvl']
population_df = population_df.rename(columns={'April 1,2010':'Population'})

In [52]:
# remove Tulare County
population_df = population_df.loc[population_df['County'] != 'Tulare']
# remove Klamath County, NaN because it no longer exists
population_df = population_df.dropna().reset_index(drop=True)

In [53]:
# change the data type of 'Population' into an integer
population_df['Population'] = population_df['Population'].str.replace(',', '').astype(int)

In [54]:
# merge the population column into the crime and officer data frame
crime_officer_pop = crime_officer_data.merge(population_df, on='County')

In [55]:
# display the crime, officer, and population data frame
crime_officer_pop.head()

,County,County Type,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft,Total Officers,Population
0,Alameda,Metropolitan,10308,132,519,4767,4890,47547,11708,26822,9017,2751,1510271
1,Butte,Metropolitan,751,7,89,153,502,5464,1826,3265,373,260,220000
2,Contra Costa,Metropolitan,4257,65,187,1525,2480,28491,7546,15494,5451,1612,1049025
3,El Dorado,Metropolitan,485,3,34,66,382,2614,1112,1460,42,230,181058
4,Fresno,Metropolitan,4904,63,181,1358,3302,38442,8982,22680,6780,1793,930450

## Clean County Land Area Data & Merge into the Crime, Officer, & Population Data Frame

In [56]:
# limit county land area data down to California counties
ca_counties_df = counties_df.loc[(counties_df['STCOU'] > 6000) & (counties_df['STCOU'] < 6200)]
ca_counties_df = ca_counties_df.reset_index(drop=True)

In [57]:
# extract the county name and land area for 2010
ca_counties_df = ca_counties_df[['Areaname','LND110210D']]

In [58]:
# define the county from the areaname column
county = ca_counties_df['Areaname'].str.split(',',1, expand=True)

In [59]:
# insert the county into a new column
ca_counties_df['County'] = county[0]

In [60]:
# insert land area into a new column and format as an integer
ca_counties_df['Land Area'] = ca_counties_df['LND110210D'].astype(int)

In [61]:
# delete old columns
del ca_counties_df['Areaname']
del ca_counties_df['LND110210D']

In [62]:
# remove Tulare County
ca_counties_df = ca_counties_df.loc[ca_counties_df['County'] != 'Tulare'].reset_index(drop=True)

In [63]:
# display the California counties land area data frame
ca_counties_df.head()

      County  Land Area
0    Alameda        739
1     Alpine        738
2     Amador        594
3      Butte       1636
4  Calaveras       1020

## Prep Data Frames for Output to SQLite

In [64]:
county_output = county_crime_df[county_crime_df['County'] != 'Tulare']

In [65]:
county_output.insert(2, 'Lat', '')
county_output.insert(3, 'Lng', '')

In [66]:
for index, row in county_output.iterrows():
    
    county = row['County'] + ' County'
    
    query_url = base_url + gkey + '&address=' + county + ',California'
    
    response = requests.get(query_url).json()
    
    lat = response['results'][0]['geometry']['location']['lat']
    lng = response['results'][0]['geometry']['location']['lng']
    
    county_output.loc[index, 'Lat'] = lat
    county_output.loc[index, 'Lng'] = lng

county_output.loc[:,'Lat'] = county_output.loc[:,'Lat'].astype(float)
county_output.loc[:,'Lng'] = county_output.loc[:,'Lng'].astype(float)

In [67]:
# loop through columns and format the names to match the total output data frame
for item in county_output.columns:
    county_output.rename(columns={item: item.title()}, inplace=True)

In [68]:
county_output.head()

,County,County Type,Lat,Lng,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft
0,Alameda,Metropolitan,37.601689,-121.719546,698,8,18,235,437,2212,622,1041,549
1,Butte,Metropolitan,39.625395,-121.537000,133,4,18,24,87,1296,564,721,11
2,Contra Costa,Metropolitan,37.853409,-121.901795,449,12,28,119,290,2754,1011,1729,14
3,El Dorado,Metropolitan,38.742638,-120.435763,256,3,15,34,204,1990,864,1114,12
4,Fresno,Metropolitan,36.985898,-119.232078,727,10,33,116,568,4442,1466,2230,746

In [69]:
city_crime_df.insert(1, 'Lat', '')
city_crime_df.insert(2, 'Lng', '')

In [70]:
# base url for google maps api calls
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?key='

# loop through data frame, call the api for the city, and pull out the county into the 'County' column

for index, row in city_crime_df.iterrows():
    
    city = row['City']
    
    query_url = base_url + gkey + '&address=' + city + ',California'
    
    response = requests.get(query_url).json()
    
    lat = response['results'][0]['geometry']['location']['lat']
    lng = response['results'][0]['geometry']['location']['lng']
    
    city_crime_df.loc[index, 'Lat'] = lat
    city_crime_df.loc[index, 'Lng'] = lng

city_crime_df.loc[:,'Lat'] = city_crime_df.loc[:,'Lat'].astype(float)
city_crime_df.loc[:,'Lng'] = city_crime_df.loc[:,'Lng'].astype(float)

In [71]:
city_output = city_crime_df.merge(city_officers_df, on='City')
city_output.rename(columns={'County_x':'County'}, inplace=True)
del city_output['County_y']

In [72]:
# loop through columns and format the names to match the total output data frame
for item in city_output.columns:
    city_output.rename(columns={item: item.title()}, inplace=True)

In [73]:
# remove Tulare County
city_output = city_output[city_output['County'] != 'Tulare']

In [74]:
city_output.head()

,City,Lat,Lng,County,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft,Total Officers
0,Alameda,37.779872,-122.282185,Alameda,173,1,15,74,83,1964,389,1360,215,85
1,Albany,37.886704,-122.297756,Alameda,37,0,5,24,8,582,95,392,95,25
2,Alhambra,34.095287,-118.127015,Los Angeles,185,3,8,82,92,2075,345,1460,270,84
3,Alturas,41.487115,-120.542456,Modoc,5,0,2,0,3,63,28,30,5,7
4,Anaheim,33.836593,-117.914301,Orange,1161,7,88,492,574,8473,1594,5869,1010,389

In [75]:
# merge land area into crime, officer, population dataframe to make the output data frame
total_output = crime_officer_pop.merge(ca_counties_df, on='County')

In [76]:
# sort by county type and county to move the two metropolitan counties from the bottom 
total_output = total_output.sort_values(by=['County Type','County']).reset_index(drop=True)

In [77]:
# display the final data frame
total_output.head()

,County,County Type,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft,Total Officers,Population,Land Area
0,Alameda,Metropolitan,10308,132,519,4767,4890,47547,11708,26822,9017,2751,1510271,739
1,Butte,Metropolitan,751,7,89,153,502,5464,1826,3265,373,260,220000,1636
2,Contra Costa,Metropolitan,4257,65,187,1525,2480,28491,7546,15494,5451,1612,1049025,715
3,El Dorado,Metropolitan,485,3,34,66,382,2614,1112,1460,42,230,181058,1707
4,Fresno,Metropolitan,4904,63,181,1358,3302,38442,8982,22680,6780,1793,930450,5957

## Push DataFrames to SQLite Database

In [78]:
# create connection to sqlite database
conn = create_engine('sqlite:///db/CA_County_Crime.sqlite')

# push dataframes to tables in the database
total_output.to_sql('total_data', conn, if_exists='replace', index=False)
city_output.to_sql('city_data', conn, if_exists='replace', index=False)
county_output.to_sql('county_data', conn, if_exists='replace', index=False)

In [79]:
pd.read_sql('select * from total_data', conn).head()

,County,County Type,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft,Total Officers,Population,Land Area
0,Alameda,Metropolitan,10308,132,519,4767,4890,47547,11708,26822,9017,2751,1510271,739
1,Butte,Metropolitan,751,7,89,153,502,5464,1826,3265,373,260,220000,1636
2,Contra Costa,Metropolitan,4257,65,187,1525,2480,28491,7546,15494,5451,1612,1049025,715
3,El Dorado,Metropolitan,485,3,34,66,382,2614,1112,1460,42,230,181058,1707
4,Fresno,Metropolitan,4904,63,181,1358,3302,38442,8982,22680,6780,1793,930450,5957

In [80]:
pd.read_sql('select * from city_data', conn).head()

,City,Lat,Lng,County,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft,Total Officers
0,Alameda,37.779872,-122.282185,Alameda,173,1,15,74,83,1964,389,1360,215,85
1,Albany,37.886704,-122.297756,Alameda,37,0,5,24,8,582,95,392,95,25
2,Alhambra,34.095287,-118.127015,Los Angeles,185,3,8,82,92,2075,345,1460,270,84
3,Alturas,41.487115,-120.542456,Modoc,5,0,2,0,3,63,28,30,5,7
4,Anaheim,33.836593,-117.914301,Orange,1161,7,88,492,574,8473,1594,5869,1010,389

In [81]:
pd.read_sql('select * from county_data', conn).head()

,County,County Type,Lat,Lng,Violent Crime,Murder And Nonnegligent Manslaughter,Forcible Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny- Theft,Motor Vehicle Theft
0,Alameda,Metropolitan,37.601689,-121.719546,698,8,18,235,437,2212,622,1041,549
1,Butte,Metropolitan,39.625395,-121.537000,133,4,18,24,87,1296,564,721,11
2,Contra Costa,Metropolitan,37.853409,-121.901795,449,12,28,119,290,2754,1011,1729,14
3,El Dorado,Metropolitan,38.742638,-120.435763,256,3,15,34,204,1990,864,1114,12
4,Fresno,Metropolitan,36.985898,-119.232078,727,10,33,116,568,4442,1466,2230,746